{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IPCam Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{% url 'stream_page' %}">🎥 Camera</a></li>
            <a href="{% url 'photo_view' %}">📷 Photo</a>
            <a href="{% url 'timelaps_view' %}">⏱ Timelapse</a>
            <li><a href="{% url 'media_browser' %}">📁 Browser</a></li>
            <li><a href="{% url 'settings_view' %}">⚙️ Settings</a></li>
            <li><a href="{% url 'logout' %}">🔒 Logout</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>
